<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>PaginaQR</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img [src]="['https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdtcEHE3Gr1eQZHsB-EL-tToo93sckoltR4A&s']"></ion-img>
    </ion-card-header>
    <div id="centrar">
      <ion-button routerLink="#" id="boton" style="align-items: center;">Generar QR </ion-button>
    </div>
  </ion-card>
</ion-content>