<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eventos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar Evento!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-input label="Nombre de Evento:" labelPlacement="floating" type="Nombre" name="Nombre" [(ngModel)]="Nombre" placeholder="Nombre de Evento.." ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Descripcion:" labelPlacement="floating" type="text" name="Descripcion" [(ngModel)]="Descripcion" placeholder="Ingrese una Descripcion del evento.." ></ion-input>
        </ion-item>
      </ion-list>      
    </ion-card-content>

    <div id="centrar">
      <ion-button [routerLink]="['/inicio']" fill="solid" shape="round" id="boton" >
        Crear Evento
      </ion-button>
    </div>
   
  </ion-card>
</ion-content>
